/* comman css start */
*{
    margin: 0%;
    padding: 0%;
}
ul{
    list-style-type: square;
    direction: rtl;
    font-weight: bolder;
    /* padding-right: 10%; */
}
/* comman css end */

/* header css start */
.header_image{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406__480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
}
.logo{
    margin-top: 8%;
    margin-left: 10%;
    width: 75px;
    height: 20px;
    background-color: rgb(25, 136, 180);
}
.content_left{
    background-color: rgba(36, 36, 36, 0.479);
    height: 5%;
    width: 850px;
}
.logo2{
    margin-top: -4%;
    padding-left: 9%;
    font-weight: bolder;
    font-size: 128px;
    color: aliceblue;
}
.text_right{
    color: aliceblue;
    background-color: rgba(193, 193, 193, 0.341);
    font-size: 40px;
    height: 600px;
    margin-left: -3%;
    padding-top: 35%;
    padding-right: 10%;
}
.text_right_2{
    color: aliceblue;
    background-color: rgba(65, 65, 65, 0.742);
    font-size: 25px;
    margin-left: -3%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
}
.text_header{
    color: aliceblue;
    font-weight:bolder;
    font-size: 50px;
    margin-left: 10%;
    margin-top: -6%;
}
.text_header2{
    color: aliceblue;
    font-size: 30px;
    margin-left: 10%;
    margin-top: -2%;
}

/* header css end  */